{% extends "app/base.html" %}

{% block content %}

<h2 class="cart-title">Cart</h2>

<ul class="cart-list">
  {% for product in cart %}
    <li>
      {{ product.product_name }}, {{ product.price }}
    </li>
  {% endfor %}
</ul>

{% endblock content %}

{%block nav%}

  <li class="active">
    <a href="{% url 'cart' %}" style="background-color: burlywood; font-family: lucida console">Cart</a>
  </li>
  <li class="">
    <a href="{% url 'search' %}" style="font-family: lucida console; color: burlywood">Search</a>
  </li>
  <li class="">
        <a href="{% url 'logout' %}" style="font-family: lucida console; color: burlywood">Logout</a>
  </li>

{% endblock nav %}