{% extends "app/base.html" %}
{% block content %}

{% endblock content %}

{% block nav %}
     <li class="">
         <a href="{% url 'login' %}" style="font-family: lucida console; color: burlywood">Login</a>
     </li>
    <li class="">
         <a href="{% url 'register' %}" style="font-family: lucida console; color: burlywood">Sign Up</a>
    </li>
    <li class="">
         <a href="{% url 'search' %}" style="font-family: lucida console; color: burlywood">Search</a>
     </li>
{% endblock nav %}