{% extends 'app/base.html' %}


{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
{% endblock %}
{% block nav %}
     <li class="active">
         <a href="{% url 'login' %}" style="background-color: burlywood; font-family: lucida console">Login</a>
     </li>
    <li class="">
         <a href="{% url 'register' %}" style="font-family: lucida console; color: burlywood">Sign Up</a>
    </li>
    <li class="">
         <a href="{% url 'search' %}" style="font-family: lucida console; color: burlywood">Search</a>
     </li>
{% endblock nav %}