{% extends "app/base.html" %}
{% block content %}

<h2 class="searchresults-title">SearchResults</h2>

<div class="container">
  <div class="row">
  {% for product  in object_list %}
  {%  if forloop.counter|divisibleby:3 %} 
    <div class="col-md-4">
      {{ product.product_name }}
    </div>
  </div>
  {% if not forloop.last %} 
  <div class="row">
  {% endif %}
  {% else %} 
    <div class="col-md-4">
      {{ product.product_name }}
    </div>
  {% endif %}
  {% endfor %}
  </div>
</div>

<ul class="searchresults-list">
  {% for product in object_list %}
    <li>
      {{ product.product_name }}, {{ product.price }}
      <!-- TO DO: GET A URL FOR CART ADD -->
      {% if request.user.is_authenticated %}
        <form action="{% url 'addcart' %}" method="POST"> 
          {% csrf_token %}
          <button name="AddButton" type="sumbit" value={{ product.id }} >Add to cart</button>
        </form>
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% endblock content %}

{% block nav %}
  {% if request.user.is_authenticated %}
  <li class="">
    <a href="{% url 'cart' %}" style="font-family: lucida console; color: burlywood">Cart</a>
  </li>
  <li class="">
    <a href="{% url 'search' %}" style="font-family: lucida console; color: burlywood">Search</a>
  </li>
  <li class="">
    <a href="{% url 'logout' %}" style="font-family: lucida console; color: burlywood">Logout</a>
  </li>

{% else %}
  <li class="">
    <a href="{% url 'app-home' %}" style="font-family: lucida console; color: burlywood">Search</a>
  </li>
  <li class="">
    <a href="{% url 'register' %}" style="font-family: lucida console; color: burlywood">Sign Up</a>
  </li>
  <li class="">
    <a href="{% url 'login' %}" style="font-family: lucida console; color: burlywood">Login</a>
  </li>

{% endif %}
{% endblock nav %}