{% extends "app/base.html" %}
{% block content %}
   
<h1>Search</h1>

<form action="{% url 'searchresults' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
  <input type="submit" value="Send Search">
</form>

{% if request.user.is_authenticated %}
  <p>Hi {{user.username}}! </p>
{% else %}
{% endif %}

{% endblock content %}

{% block nav %}
{% if request.user.is_authenticated %}
  <li class="">
    <a href="{% url 'logout' %}" style="font-family: lucida console; color: burlywood">Logout</a>
  </li>
  <li class="">
    <a href="{% url 'cart' %}" style="font-family: lucida console; color: burlywood">Cart</a>
  </li>
  <li class="active">
    <a href="{% url 'search' %}" style="background-color: burlywood;font-family: lucida console">Search</a>
  </li>

{% else %}
  <li class="">
    <a href="{% url 'login' %}" style="font-family: lucida console; color: burlywood">Login</a>
  </li>
  <li class="">
    <a href="{% url 'register' %}" style="font-family: lucida console; color: burlywood">Sign Up</a>
  </li>
  <li class="active">
    <a href="{% url 'search' %}" style="background-color: burlywood; font-family: lucida console">Search</a>
  </li>
{% endif %}

{% endblock nav %}