{% extends "app/base.html" %}
{% block content %}

<h1>SearchResults</h1>

<ul>
  {% for product in object_list %}
    <li>
      {{ product.product_name }}, {{ product.price }}
      <!-- TO DO: GET A URL FOR CART ADD -->
      {% if request.user.is_authenticated %}
        <form action="{% url 'addcart' %}" method="POST"> 
          {% csrf_token %}
          <button name="AddButton" type="sumbit" value={{ product.id }} >Add to cart</button>
        </form>
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% endblock content %}

{% block nav %}
  {% if request.user.is_authenticated %}
  <li class="">
    <a href="{% url 'logout' %}" style="font-family: lucida console; color: burlywood">Logout</a>
  </li>
  <li class="">
    <a href="{% url 'cart' %}" style="font-family: lucida console; color: burlywood">Cart</a>
  </li>
  <li class="active">
    <a href="{% url 'search' %}" style="background-color: burlywood; font-family: lucida console">Search</a>
  </li>

{% else %}
  <li class="">
    <a href="{% url 'login' %}" style="font-family: lucida console; color: burlywood">Login</a>
  </li>
  <li class="">
    <a href="{% url 'register' %}" style="font-family: lucida console; color: burlywood">Sign Up</a>
  </li>
  <li class="active">
    <a href="{% url 'search' %}" style="background-color: burlywood; font-family: lucida console">Search</a>
  </li>
{% endif %}
{% endblock nav %}